* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.left-panel {
    background-color: aquamarine;
    grid-column: 1/2;
    
}

.right-panel {
    background-color: blanchedalmond;
    grid-column: 2/3;

}





/* stack the panels when the width is less than or equal to 992px (large devices)*/
@media only screen and (max-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

    }

    .left-panel {
        background-color: bisque;
        grid-row: 1/2;
        grid-column: 1/2;
        height: 50vh;

    }

    .right-panel {
        background-color: beige;
        grid-row: 2/3;
        grid-column: 1/2;
        height: 50vh;

    }


}